
@font-face {
  font-family: "woncep-icon-1.5.1";
  src: url("../../../fonts/icons/woncep-icon-1.5.1.eot");
  src: url("../../../fonts/icons/woncep-icon-1.5.1.eot?#iefix") format("eot"), url("../../../fonts/icons/woncep-icon-1.5.1.woff2") format("woff2"), url("../../../fonts/icons/woncep-icon-1.5.1.woff") format("woff"), url("../../../fonts/icons/woncep-icon-1.5.1.ttf") format("truetype"), url("../../../fonts/icons/woncep-icon-1.5.1.svg#woncep-icon-1.5.1") format("svg"); }

[class*="woncep-icon-"]:before {
  font-family: "woncep-icon-1.5.1";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle; }

.woncep-icon-badge-percent:before {
  content: ""; }

.woncep-icon-clock:before {
  content: ""; }

.woncep-icon-envelope-open:before {
  content: ""; }

.woncep-icon-gift-1:before {
  content: ""; }

.woncep-icon-grid:before {
  content: ""; }

.woncep-icon-headphones-alt:before {
  content: ""; }

.woncep-icon-list:before {
  content: ""; }

.woncep-icon-location-circle:before {
  content: ""; }

.woncep-icon-long-arrow-down:before {
  content: ""; }

.woncep-icon-long-arrow-left:before {
  content: ""; }

.woncep-icon-long-arrow-right:before {
  content: ""; }

.woncep-icon-long-arrow-up:before {
  content: ""; }

.woncep-icon-map-marker-alt:before {
  content: ""; }

.woncep-icon-mitten:before {
  content: ""; }

.woncep-icon-mobile:before {
  content: ""; }

.woncep-icon-music-1:before {
  content: ""; }

.woncep-icon-padlock:before {
  content: ""; }

.woncep-icon-paw-alt:before {
  content: ""; }

.woncep-icon-payment_1:before {
  content: ""; }

.woncep-icon-payment_2:before {
  content: ""; }

.woncep-icon-payment_3:before {
  content: ""; }

.woncep-icon-payment_4:before {
  content: ""; }

.woncep-icon-payment_5:before {
  content: ""; }

.woncep-icon-payment_6:before {
  content: ""; }

.woncep-icon-phone-rotary:before {
  content: ""; }

.woncep-icon-rating:before {
  content: ""; }

.woncep-icon-rings-wedding:before {
  content: ""; }

.woncep-icon-rocket:before {
  content: ""; }

.woncep-icon-shapes:before {
  content: ""; }

.woncep-icon-star_01:before {
  content: ""; }

.woncep-icon-tire:before {
  content: ""; }

.woncep-icon-tracking_1:before {
  content: ""; }

.woncep-icon-tracking_2:before {
  content: ""; }

.woncep-icon-tracking_3:before {
  content: ""; }

.woncep-icon-tshirt:before {
  content: ""; }

.woncep-icon-tv:before {
  content: ""; }

.woncep-icon-volleyball-ball:before {
  content: ""; }

.woncep-icon-adobe:before {
  content: ""; }

.woncep-icon-amazon:before {
  content: ""; }

.woncep-icon-android:before {
  content: ""; }

.woncep-icon-angular:before {
  content: ""; }

.woncep-icon-apper:before {
  content: ""; }

.woncep-icon-apple:before {
  content: ""; }

.woncep-icon-atlassian:before {
  content: ""; }

.woncep-icon-behance:before {
  content: ""; }

.woncep-icon-bitbucket:before {
  content: ""; }

.woncep-icon-bitcoin:before {
  content: ""; }

.woncep-icon-bity:before {
  content: ""; }

.woncep-icon-bluetooth:before {
  content: ""; }

.woncep-icon-btc:before {
  content: ""; }

.woncep-icon-centos:before {
  content: ""; }

.woncep-icon-chrome:before {
  content: ""; }

.woncep-icon-codepen:before {
  content: ""; }

.woncep-icon-cpanel:before {
  content: ""; }

.woncep-icon-discord:before {
  content: ""; }

.woncep-icon-dochub:before {
  content: ""; }

.woncep-icon-docker:before {
  content: ""; }

.woncep-icon-dribbble:before {
  content: ""; }

.woncep-icon-dropbox:before {
  content: ""; }

.woncep-icon-drupal:before {
  content: ""; }

.woncep-icon-ebay:before {
  content: ""; }

.woncep-icon-facebook:before {
  content: ""; }

.woncep-icon-figma:before {
  content: ""; }

.woncep-icon-firefox:before {
  content: ""; }

.woncep-icon-google-plus:before {
  content: ""; }

.woncep-icon-google:before {
  content: ""; }

.woncep-icon-grunt:before {
  content: ""; }

.woncep-icon-gulp:before {
  content: ""; }

.woncep-icon-html5:before {
  content: ""; }

.woncep-icon-jenkins:before {
  content: ""; }

.woncep-icon-joomla:before {
  content: ""; }

.woncep-icon-link-brand:before {
  content: ""; }

.woncep-icon-linkedin:before {
  content: ""; }

.woncep-icon-mailchimp:before {
  content: ""; }

.woncep-icon-opencart:before {
  content: ""; }

.woncep-icon-paypal:before {
  content: ""; }

.woncep-icon-pinterest-p:before {
  content: ""; }

.woncep-icon-reddit:before {
  content: ""; }

.woncep-icon-skype:before {
  content: ""; }

.woncep-icon-slack:before {
  content: ""; }

.woncep-icon-snapchat:before {
  content: ""; }

.woncep-icon-spotify:before {
  content: ""; }

.woncep-icon-trello:before {
  content: ""; }

.woncep-icon-twitter:before {
  content: ""; }

.woncep-icon-vimeo:before {
  content: ""; }

.woncep-icon-whatsapp:before {
  content: ""; }

.woncep-icon-wordpress:before {
  content: ""; }

.woncep-icon-yoast:before {
  content: ""; }

.woncep-icon-youtube:before {
  content: ""; }

.woncep-icon-angle-down:before {
  content: ""; }

.woncep-icon-angle-left:before {
  content: ""; }

.woncep-icon-angle-right:before {
  content: ""; }

.woncep-icon-angle-up:before {
  content: ""; }

.woncep-icon-arrow-circle-down:before {
  content: ""; }

.woncep-icon-arrow-circle-left:before {
  content: ""; }

.woncep-icon-arrow-circle-right:before {
  content: ""; }

.woncep-icon-arrow-circle-up:before {
  content: ""; }

.woncep-icon-bars:before {
  content: ""; }

.woncep-icon-caret-down:before {
  content: ""; }

.woncep-icon-caret-left:before {
  content: ""; }

.woncep-icon-caret-right:before {
  content: ""; }

.woncep-icon-caret-up:before {
  content: ""; }

.woncep-icon-cart-empty:before {
  content: ""; }

.woncep-icon-check-square:before {
  content: ""; }

.woncep-icon-chevron-circle-left:before {
  content: ""; }

.woncep-icon-chevron-circle-right:before {
  content: ""; }

.woncep-icon-chevron-down:before {
  content: ""; }

.woncep-icon-chevron-left:before {
  content: ""; }

.woncep-icon-chevron-right:before {
  content: ""; }

.woncep-icon-chevron-up:before {
  content: ""; }

.woncep-icon-circle:before {
  content: ""; }

.woncep-icon-cloud-download-alt:before {
  content: ""; }

.woncep-icon-comment:before {
  content: ""; }

.woncep-icon-comments:before {
  content: ""; }

.woncep-icon-contact:before {
  content: ""; }

.woncep-icon-credit-card:before {
  content: ""; }

.woncep-icon-dot-circle:before {
  content: ""; }

.woncep-icon-edit:before {
  content: ""; }

.woncep-icon-envelope:before {
  content: ""; }

.woncep-icon-expand-alt:before {
  content: ""; }

.woncep-icon-external-link-alt:before {
  content: ""; }

.woncep-icon-eye:before {
  content: ""; }

.woncep-icon-file-alt:before {
  content: ""; }

.woncep-icon-file-archive:before {
  content: ""; }

.woncep-icon-filter:before {
  content: ""; }

.woncep-icon-folder-open:before {
  content: ""; }

.woncep-icon-folder:before {
  content: ""; }

.woncep-icon-free_ship:before {
  content: ""; }

.woncep-icon-frown:before {
  content: ""; }

.woncep-icon-gift:before {
  content: ""; }

.woncep-icon-grip-horizontal:before {
  content: ""; }

.woncep-icon-heart-fill:before {
  content: ""; }

.woncep-icon-heart:before {
  content: ""; }

.woncep-icon-history:before {
  content: ""; }

.woncep-icon-home:before {
  content: ""; }

.woncep-icon-info-circle:before {
  content: ""; }

.woncep-icon-instagram:before {
  content: ""; }

.woncep-icon-level-up-alt:before {
  content: ""; }

.woncep-icon-map-marker-check:before {
  content: ""; }

.woncep-icon-meh:before {
  content: ""; }

.woncep-icon-minus-circle:before {
  content: ""; }

.woncep-icon-mobile-android-alt:before {
  content: ""; }

.woncep-icon-money-bill:before {
  content: ""; }

.woncep-icon-pencil-alt:before {
  content: ""; }

.woncep-icon-plus-circle:before {
  content: ""; }

.woncep-icon-plus:before {
  content: ""; }

.woncep-icon-quote:before {
  content: ""; }

.woncep-icon-random:before {
  content: ""; }

.woncep-icon-reply-all:before {
  content: ""; }

.woncep-icon-reply:before {
  content: ""; }

.woncep-icon-search-plus:before {
  content: ""; }

.woncep-icon-search:before {
  content: ""; }

.woncep-icon-shield-check:before {
  content: ""; }

.woncep-icon-shopping-basket-1:before {
  content: ""; }

.woncep-icon-shopping-basket:before {
  content: ""; }

.woncep-icon-shopping-cart:before {
  content: ""; }

.woncep-icon-sign-out-alt:before {
  content: ""; }

.woncep-icon-sliders-v:before {
  content: ""; }

.woncep-icon-smile:before {
  content: ""; }

.woncep-icon-spinner:before {
  content: ""; }

.woncep-icon-square:before {
  content: ""; }

.woncep-icon-star:before {
  content: ""; }

.woncep-icon-stopwatch:before {
  content: ""; }

.woncep-icon-store:before {
  content: ""; }

.woncep-icon-sync:before {
  content: ""; }

.woncep-icon-tachometer-alt:before {
  content: ""; }

.woncep-icon-th-large:before {
  content: ""; }

.woncep-icon-th-list:before {
  content: ""; }

.woncep-icon-thumbtack:before {
  content: ""; }

.woncep-icon-times-circle:before {
  content: ""; }

.woncep-icon-times:before {
  content: ""; }

.woncep-icon-trophy-alt:before {
  content: ""; }

.woncep-icon-truck:before {
  content: ""; }

.woncep-icon-user-headset:before {
  content: ""; }

.woncep-icon-user-shield:before {
  content: ""; }

.woncep-icon-user:before {
  content: ""; }

